In [30]:
import os
import pandas as pd
import numpy as np
import pickle

In [31]:
os.getcwd()

'C:\\Users\\nirup\\Downloads\\pipeline'

In [32]:
with open('model_pickle','rb')as f:
    rf=pickle.load(f)

In [33]:
def func2(data):
    
    data2=data
    
    sent = data2.Sentence
    
    data2 = data2.loc[data2.nwords > 2, :]
    data2 = data2.loc[data2.nnumbers <= 3, :]
    data2 = data2.loc[data2.nwords <= 10, :]
    data2 = data2.drop(["Sentence"],axis=1)
    
    X_test = data2
    
    
    pred = rf.predict(X_test)

    data2['label'] = np.array(pred)
    data2.insert(loc=0, column='Sentence', value=sent)
    data2.to_csv('label.csv',index = False)
    return(data2)

In [37]:
data=func('https://foodfolksandfun.net/snickers-cheesecake-brownies/')

In [38]:
data

,Sentence,newline_after,newline_before,nwords,numbers,nnumbers,nnouns,nverbs,nunits
0,food folks,1,0,2,0,0,2,0,0
1,fun data image/svg xml 3csvg 20xmlns http //ww...,0,1,16,1,26,3,2,0
2,food,1,0,1,0,0,1,0,0
3,folks fun /wp content/themes/pmdfoodfun/images...,2,1,4,0,0,2,1,0
4,search,2,2,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
530,copyright 2022 food folks and fun all rights r...,2,2,9,1,4,4,2,0
531,design by pixel me designs,2,2,5,0,0,2,1,0
532,close,2,2,1,0,0,0,0,0
533,what are you searching for,0,2,5,0,0,0,2,0
534,search,2,0,1,0,0,1,0,0

In [36]:
func2(data)

,Sentence,newline_after,newline_before,nwords,numbers,nnumbers,nnouns,nverbs,nunits,label
0,skip to main content,1,0,4,0,0,2,0,0,0
1,skip to primary sidebar,2,1,4,0,0,2,0,0,0
3,swasthi s recipes,2,2,3,0,0,3,0,0,0
4,indian food blog with easy indian recipes,2,2,7,0,0,3,0,0,0
8,home recipes chicken recipes,2,1,4,0,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...
750,35 sandwich r,0,2,3,1,2,1,0,0,0
751,ragi recipes https //wwwindianhealthyrecipesco...,1,0,4,0,0,3,1,0,0
754,oats recipes for breakfast and,1,0,5,0,0,3,0,0,0
757,32 oats recip,2,2,3,1,2,1,1,0,0
761,may not be reproduced in any form,2,1,7,0,0,1,2,0,0